$zIndex: (
  navbar: 10,
);
@function toRem($px) {
  $rem: $px / 18px;
  @return #{$rem}rem;
}

@function z-index($key) {
  @return map-get($zIndex, $key);
}

@function pow($base, $exponent) {
  $result: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $result: $result * $base;
    }
  } @else if $exponent < 0 {
    @for $i from $exponent to 0 {
      $result: $result / $base;
    }
  }

  @return $result;
}
  
$font-weights: (
  light: 300,
  regular: 400,
  semiBold: 500,
  bold: 700
);

$font-families: (
  sans: 'Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif',
  mono: 'Inconsolata, Monaco, Consolas, Courier New, monospace',
  cursive: 'Reenie Beanie, cursive'
);

$font-size-scale: 1.125;
$font-size-base: 1rem;

// Inspiration: https://stackoverflow.com/a/49437769/5323344
@mixin transition($props...) {
  $result: ();

  @for $i from 1 through length($props) {
    $prop: nth($props, $i);
    $result: append($result, $prop);
    $result: append($result, ease #{var(--transition-duration)});

    @if $i != length($props) {
      $result: append(
        $result,
        unquote(
          $string: ',',
        )
      );
    }
  }

  transition: $result;
}

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin z-index($key) {
  z-index: z-index($key);
}

@mixin font-family($family) {
  font-family: unquote(map-get($font-families, $family));
}

@mixin font-weight($humanReadableWeight: inherit) {
  font-weight: map-get($font-weights, $humanReadableWeight);
}

@mixin font-size($step) {
  $font-size: $font-size-base * pow($font-size-scale, $step);
  $line-height: -0.027 * ($font-size / 1rem * 10) + 2.266;
  // expose CSS var to later compute other things, e.g., spacing
  --line-height: #{$line-height};
  font-size: $font-size;
  line-height: var(--line-height);
}

@mixin underlined-link($initially-underlined: true) {
  @if $initially-underlined {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  } @else {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@mixin themed($attribute, $light, $dark) {
  #{$attribute}: $light;

  .dark & {
    #{$attribute}: $dark;
  }
}

@mixin selection-resistant-color($color) {
  &,
  &::selection {
    color: $color;
  }
}

@mixin centered($margin-min: 2.4rem, $content-max: var(--page-max-width)) {
  display: grid;
  grid-template-columns: minmax($margin-min, 1fr) minmax(0, $content-max) minmax($margin-min, 1fr);

  > * {
    grid-column: 2;
  }
}

@mixin responsive-grid($mobile-min, $desktop-min, $mobile-max: 1fr, $desktop-max: 1fr, $desktop-breakpoint: 600px) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($mobile-min, $mobile-max));

  @media only screen and (min-width: $desktop-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax($desktop-min, $desktop-max));
  }
}

@mixin rhythm() {
  display: grid;
  grid-row-gap: calc(var(--line-height) * 1em);
}

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;

  h2 {
    margin: 0 !important;
  }
}

.post-comment-button {
  padding: 0.4em 0.8em;
  margin: 1em 0;
}

#comments-wrapper {
  display: flex;
}

.comments-list {
  list-style: none;
  width: 100%;
  padding: 0 !important;
  display: grid;
  grid-row-gap: 6.4rem !important;
}

$avatar-size: 3.2rem;
$meta-spacing: 0.8rem;

.comment {
  margin-left: $avatar-size + $meta-spacing;
}

.comment-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 1.6rem;
}

.comment-meta {
  margin: 0 $meta-spacing $meta-spacing / 2 0;
}

.comment-avatar {
  position: absolute;
  width: $avatar-size;
  left: -1 * $avatar-size - $meta-spacing;
  top: calc(-1 * #{$meta-spacing} / 4);
  border-radius: 50% !important;
}

.comment-username {
  color: var(--text-color-emphasis);
  @include font-weight('semiBold');
  @include underlined-link;
}

.comment-edited {
  font-style: italic;
  @include font-size(-1);
}

.comment-date-posted {
  @include font-size(-1);
}

.comment-author-badge {
  background-color: lightgray;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  @include font-size(-2);
}

.comment-body {
  @include rhythm;

  pre {
    white-space: pre-wrap;
  }

  @include headings {
    @include font-size(0);
    margin-top: 0;
  }
}
